[package]
name = "jira_cli"
version = "1.2.0"
edition = "2021"
license = "GPL-2.0"
readme = "README.md"
rust-version = "1.59"
description = "A little CLI for Jira"
authors = ["sycured <60801403+sycured@users.noreply.github.com>"]
repository = "https://github.com/sycured/jira_cli"
keywords = ["jira"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
lto = true
strip = true

[profile.dev]
opt-level = 3
lto = true

[dependencies]
base64 = "0.13.0"
clap = {version="3.1.6", features=["cargo", "env", "wrap_help"]}
clap_complete = "3.1.1"
comfy-table = "5.0.1"
dialoguer = "0.10.0"
either = "1.6.1"
serde_json = "1.0.79"
ureq = {version="2.4.0", features=["default", "json", "native-certs"]}
